@font-face {
	font-family: 'Metro';
	src: 
		url('fonts/Metro.otf') 
		format('opentype');
}

body {
    background-color: black;
}

h1 {
    font-family: "Metro";
    color: blue;
	display: inline;
}

h2 {
	font-family: "Metro";
	color: blue;
	font-size: 24px;
}

p {
    font-family: "Metro";
    color: white;
    font-size: 18px;
}

a {
	font-family: "Metro";
	color: #ff1100;
	font-size: 18px;
}

.nav {
    list-style-type: none;
    text-align: center;
    display: inline;
    width: 75%;
    height: 20%;
}

.nav li {
    display: inline-block;
    font-size: 20px;
	margin: 20px;
}