@font-face {
	font-family: 'Metro';
	src:
		url('fonts/Metro.otf')
		format('opentype');
}

body {
    background-color: #010025;
		font-family: 'Metro';
		color: white;
		text-align: center;
		margin-top: 0px;
}

#container {
}

#title-planet {
}

#title-text {
	margin-top: 0px;
	font-size: 50px;
	text-shadow: 6px 6px #0000FF;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #010025;
}

::-webkit-scrollbar-thumb {
    background: #000675;
}

::-webkit-scrollbar-thumb:hover {
    background: #024694;
}

::selection {
    background: black;
}
::-moz-selection {
    background: black;
}

